# General
**/target
/secrets
.env
*.env
.DS_Store
Thumbs.db

# SQLite
nexus.db
nexus.db-shm
nexus.db-wal

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
tests/nexus_e2e/target

# Migration
migrations/*
