# General
**/target
/secrets
.env
*.env
*.bak
.DS_Store
Thumbs.db

# SQLite
nexus.db
nexus.db-shm
nexus.db-wal
tests/**/*.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
tests/nexus_e2e/target

# Config
config.yaml

